<app-menu></app-menu>
<div>
</div><div class='component-content'>
	<div>
		<span class='component-title'>[{{title}}]</span>
		| <span><a routerLink='/user/list'>Back to list</a></span>
  </div>

  <p *ngIf='!user'>Loading</p>
  <div *ngIf='user'>
    <div class='form-group row'>
      <label class='col-form-label col-sm-2' for='userfirstname'>First name:</label>
      <input [(ngModel)]='user.FirstName' name='FirstName' type='text' class='form-control col-sm-6' id='userfirstname' aria-describedby="firstnameHelp" placeholder="First Name">
      <small id="firstnameHelp" class="form-text text-muted col-sm-2">First Name</small>
    </div>
    <div class='form-group row'>
      <label class='col-form-label col-sm-2' for='userlastname'>Last name:</label>
      <input [(ngModel)]='user.LastName' name='LastName' type='text' class='form-control col-sm-6' id='userlastname' aria-describedby="lastnameHelp" placeholder="Last Name">
      <small id="lastnameHelp" class="form-text text-muted col-sm-2">Last Name</small>
    </div>
    <div class='form-group row'>
      <label class='col-form-label col-sm-2' for='userusername'>user name:</label>

<input [(ngModel)]='user.UserName' name='UserName' type='text' class='form-control col-sm-6' id='userusername' aria-describedby="usernameHelp" placeholder="User Name">
      <small id="usernameHelp" class="form-text text-muted col-sm-2">UserName</small>
    </div>
    <div class='form-group row'>
      <label class='col-form-label col-sm-2' for='userphone'>Phone:</label>
      <input [(ngModel)]='user.Phone' name='Phone' type='text' class='form-control col-sm-6' id='phone' aria-describedby="phoneHelp" placeholder="Phone">
      <small id="phoneHelp" class="form-text text-muted col-sm-2">Phone</small>
    </div>
    <div class='form-group row'>
      <label class='col-form-label col-sm-2' for='useremail'>Email:</label>
      <input [(ngModel)]='user.Email' name='Email' type='text' class='form-control col-sm-6' id='email' aria-describedby="emaileHelp" placeholder="Email">
      <small id="emailHelp" class="form-text text-muted col-sm-2">Email</small>
    </div>
    <div class='form-group row'>
      <label class='col-form-label col-sm-2' for='userreviewer'>Reviewer:</label>
      <input [(ngModel)]='user.Reviewer' name='Reviewer' type='checkbox' class='form-control col-sm-6' id='userreviewer' aria-describedby="reviewerHelp" placeholder="Reviewer">
      <small id="reviewerHelp" class="form-text text-muted col-sm-2">Reviewer</small>
    </div>
    <div class='form-group row'>
      <label class='col-form-label col-sm-2' for='useradmin'>Admin:</label>
      <input [(ngModel)]='user.Admin' name='Amin' type='checkbox' class='form-control col-sm-6' id='useradmin' aria-describedby="adminHelp" placeholder="Admin">
      <small id="adminHelp" class="form-text text-muted col-sm-2">Admin</small>
    </div>
    <div class='form-group row'>
      <label class='col-form-label col-sm-2' for='useractive'>Active:</label>
      <input [(ngModel)]='user.Active' name='Acyive' type='checkbox' class='form-control col-sm-6' id='useractive' aria-describedby="activeHelp" placeholder="Active">
      <small id="activeHelp" class="form-text text-muted col-sm-2">Active</small>
    </div>
    <div class='form-group'>
        <button (click)='create()' class='btn btn-primary'>Create</button>
    </div>

</div>
